// body{
//    background-color #4E5462
// }
// .sidebar{
//     background-color #1F1B24
// }
// .navbar{
//     background-color #081B33
// }
// 
// .navbar .links .search-box input{
//     border-radius: 5px
//     background-color: #1F232D
// }
.navbar .links {
    background: transparent !important
}

.repo-link span{
    display: none !important   
}
.repo-link{
    padding-right: 5px
}