.navbar .links {
    background: transparent !important
}

.repo-link span{
    display: none !important   
}

.repo-link{
    padding-right: 5px
}

strong {
    font-weight: 4000; // default is 600
    color: #FFFFFF;
    text-shadow: 1px 1px #1CA010;
}

a {
    color: #1CA010;
}

a:hover {
  color: white;
}


#app > div.theme-container > aside > ul > li > section > ul > li > ul > li > a:hover {
    color: #1CA010;
}

#app > div.theme-container > aside > ul > li > section > ul > li > a:hover {
    color: #1CA010;
}

