/* Change accent color to green */
:root {
    --vp-c-brand-1: var(--vp-c-green-1);
    --vp-c-brand-2: var(--vp-c-green-2);
    --vp-c-brand-3: var(--vp-c-green-3);
    --vp-c-brand-soft: var(--vp-c-green-soft);
}

/* Makes the caption the same width as the image */
html.image-captions p:has(.custom-img-caption) {
    display: inline-block;
}

/* Styles for the caption block, if custom image captions are rendered */
html.image-captions .custom-img-caption {
    background-color: var(--vp-c-brand);
    display: block;
    padding: 4px 10px;
    text-align: center;
}

html:not(.image-captions) .custom-img-caption {
    display: none;
}

/**
 * Styles for the pageClass frontmatter
 * When adding a new class, also explain it in CONTRIBUTING.md 
 */

.page-inline-images img {
    display: unset;
}

/* Copied from the VpDoc class */
.page-doc {
    padding: 0 32px;
    padding-top: 48px !important;
}

@media (min-width: 768px) {
    .page-doc {
        padding: 0 48px;
    }
}

@media (min-width: 960px) {
    .page-doc {
        padding: 0 64px;
    }
}
